{{ 'featured-products.css' | asset_url | stylesheet_tag }}

<section
  style="background: {{-section.settings.featured_color_bg -}}"
  class="featuredProducts w-full py-8 lg:{{- section.settings.featured_paddingY -}}"
>
  <div class="container mx-auto px-4">
    <!-- Title -->
    <div class="text-{{ section.settings.featured_product_text_position }} mb-12">
      <h3
        style="color: {{ section.settings.featured_product_text_color }}"
        class="text-base {{ section.settings.featured_product_text_transform }} font-bold md:text-lg"
      >
        {{ section.settings.featured_product_text }}
      </h3>
    </div>

    <!-- Products Grid/Slider -->
    <div class="relative">
      <div class="products-container">
        <div
          class="block whitespace-nowrap overflow-x-scroll scrollbar-hide w-full"
        >
          {%- if section.settings.featured_products != blank -%}
            {%- for product in section.settings.featured_products -%}
              {%- assign image = product.featured_image -%}
              {%- assign description = product.description -%}
              {%- assign title = product.title -%}
              {%- assign price = product.price -%}
              {%- assign link = product.link -%}
              {% render 'product-card',
                image: image,
                description: description,
                title: title,
                price: price,
                link: link
              %}
            {%- endfor -%}
            {{  }}
          {%- else -%}
            {%- for item in (1..8) -%}
              {% render 'product-card', image: '', description: '', title: '', price: '', link: %}
            {%- endfor -%}
          {%- endif -%}
        </div>
      </div>

      <!-- Mobile Navigation Arrows -->
      <button
        class="absolute cursor-pointer left-0 top-1/2 -translate-y-1/2 -ml-4 bg-white rounded-full p-2 shadow-md hover:bg-gray-100 focus:outline-none slider-arrow prev-arrow"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 19l-7-7 7-7"
          />
        </svg>
      </button>
      <button
        class="absolute cursor-pointer right-0 top-1/2 -translate-y-1/2 -mr-4 bg-white rounded-full p-2 shadow-md hover:bg-gray-100 focus:outline-none slider-arrow next-arrow"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"
          />
        </svg>
      </button>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Featured products",
  "class": "featured_products",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "blocks": [],
  "settings": [
    {
      "type": "header",
      "content": "Background color"
    },
    {
      "type": "color_background",
      "id": "featured_color_bg",
      "label": "Background color"
    },
    {
      "type": "header",
      "content": "Text settings"
    },
    {
      "type": "text",
      "id": "featured_product_text",
      "label": "Title of your section",
      "default": "Personalised for you"
    },
    {
      "type": "text_alignment",
      "id": "featured_product_text_position",
      "label": "Title position",
      "default": "center"
    },
    {
      "type": "color",
      "id": "featured_product_text_color",
      "label": "Text color",
      "default": "#000000"
    },
    {
      "type": "radio",
      "id": "featured_product_text_transform",
      "label": "Text transform",
      "options": [
        {
          "label": "Normal",
          "value": "normal-case"
        },
        {
          "label": "Uppercase",
          "value": "uppercase"
        },
        {
          "label": "Capitalize",
          "value": "capitalize"
        }
      ],
      "default": "uppercase",
      "info": "Transformative text style"
    },
    {
      "type": "header",
      "content": "Spacing top and bottom"
    },
    {
      "type": "select",
      "id": "featured_paddingY",
      "label": "Spacing top and bottom",
      "options": [
        {
          "value": "py-10",
          "label": "40px"
        },
        {
          "value": "py-12",
          "label": "48px"
        },
        {
          "value": "py-14",
          "label": "56px"
        }
      ],
      "default": "py-12",
      "info": "Adjust the height of this section"
    },
    {
      "type": "header",
      "content": "Featured product"
    },
    {
      "type": "product_list",
      "id": "featured_products",
      "limit": 10,
      "label": "Select your products",
      "info": "Up to 10"
    }
  ],
  "presets": [
    {
      "name": "Featured products",
      "settings": {
        "featured_color_bg": "",
        "featured_paddingY": "py-12",
        "featured_product_text": "Personalised for you",
        "featured_product_text_color": "#000000",
        "featured_product_text_position": "center",
        "featured_product_text_transform": "uppercase"
      },
      "blocks": []
    }
  ]
}
{% endschema %}
