<!-- Footer -->
<footer class="w-full bg-white py-12">
  <div class="container mx-auto">
    <!-- Upper -->
    <div>
      <!-- Menu footer -->
      <div class="sm:flex sm:justify-between sm:items-start">
        {%- if section.settings.footer_navigation != blank -%}
          {%- for footer in section.settings.footer_navigation.links -%}
            <div class="flex flex-col gap-3 footer-menu-card">
              <div
                class="flex justify-between items-center h-14 border-b border-gray-200 cursor-pointer sm:border-none sm:h-5"
              >
                <h6 class="text-base font-semibold uppercase">{{ footer.title }}</h6>
                <span class="block w-7 h-7 sm:hidden">
                  <img
                    width="24"
                    height="24"
                    class="w-6 h-6 rotate-0 transition-transform duration-300 ease-in-out sm:hidden"
                    src="{{ 'chevron-down.svg' | asset_url }}"
                    alt="chevron-down icon"
                  >
                </span>
              </div>
              {%- if footer.levels != 0 -%}
                <div
                  class="max-h-0 overflow-hidden transition-all duration-500 ease-in-out sm:max-h-96"
                >
                  {%- for footer_submenu in footer.links -%}
                    <a class="text-sm font-normal block py-1" href="{{ footer_submenu.url }}">
                      {{- footer_submenu.title -}}
                    </a>
                  {%- endfor -%}
                </div>
              {%- endif -%}
            </div>
          {%- endfor -%}
        {% else %}
          {%- for item in (1..3) -%}
            <!-- Menu 1 -->
            <div class="flex flex-col gap-3 footer-menu-card">
              <div
                class="flex justify-between items-center h-14 border-b border-gray-200 cursor-pointer sm:border-none sm:h-5"
              >
                <h6 class="text-base font-semibold uppercase">Help & Info</h6>
                <span class="block w-7 h-7 sm:hidden">
                  <img
                    width="24"
                    height="24"
                    class="w-6 h-6 rotate-0 transition-transform duration-300 ease-in-out sm:hidden"
                    src="{{ 'chevron-down.svg' | asset_url }}"
                    alt="chevron-down icon"
                  >
                </span>
              </div>
              <div
                class="max-h-0 overflow-hidden transition-all duration-500 ease-in-out sm:max-h-96"
              >
                <a class="text-sm font-normal block py-1" href="#">Contact Us</a>
                <a class="text-sm font-normal block py-1" href="#">Contact Us</a>
                <a class="text-sm font-normal block py-1" href="#">Contact Us</a>
                <a class="text-sm font-normal block py-1" href="#">Contact Us</a>
                <a class="text-sm font-normal block py-1" href="#">Contact Us</a>
                <a class="text-sm font-normal block py-1" href="#">Contact Us</a>
                <a class="text-sm font-normal block py-1" href="#">Contact Us</a>
              </div>
            </div>
          {%- endfor -%}
        {%- endif -%}

        <!-- Menu 4 -->
        <div class="flex flex-col gap-3 footer-menu-card">
          <div
            class="flex justify-between items-center h-14 border-b border-gray-200 cursor-pointer sm:border-none sm:h-5"
          >
            <h6 class="text-base font-semibold uppercase">Currency: GBP</h6>
            <span class="block w-7 h-7 sm:hidden">
              <img
                width="24"
                height="24"
                class="w-6 h-6 rotate-0 transition-transform duration-300 ease-in-out sm:hidden"
                src="{{'chevron-down.svg' | asset_url }}"
                alt="chevron-down icon"
              >
            </span>
          </div>
          <div
            class="max-h-0 overflow-hidden transition-all duration-500 ease-in-out sm:max-h-96 flex justify-center gap-2"
          >
            <a href="{{ settings.facebook_url }}">
              {% render 'icon-facebook', color: '#000', color_fill: 'none', size: '24' %}
            </a>
            <a href="{{ settings.instagram_url }}">
              {% render 'icon-instagram', color: '#000', color_fill: 'none', size: '24' %}
            </a>
            <a href="{{ settings.tiktok_url }}">
              {% render 'icon-tiktok', color: '#000', color_fill: 'none', size: '24' %}
            </a>
          </div>
        </div>
      </div>
      <!-- End Menu footer -->
      <!-- Payment img footer -->
      <div
        class="w-full flex justify-center items-center gap-2 flex-wrap my-10"
      >
        <img
          width="40"
          height="21"
          src="{{ 'paypal.svg' | asset_url }}"
          alt="paypal icon"
        >
        <img
          width="40"
          height="21"
          src="{{ 'visa.png' | asset_url }}"
          alt="visa icon"
        >
        <img
          width="40"
          height="21"
          src="{{ 'master.svg' | asset_url }}"
          alt="mastercard icon"
        >
        <img
          width="40"
          height="21"
          src="{{ 'amex.svg' | asset_url }}"
          alt="american-express icon"
        >
        <img
          width="40"
          height="21"
          src="{{ 'discover.png' | asset_url }}"
          alt="discover icon"
        >
        <img
          width="40"
          height="21"
          src="{{ 'diners.png' | asset_url }}"
          alt="diners-club icon"
        >
        <img
          width="40"
          height="21"
          src="{{ 'apple.svg' | asset_url }}"
          alt="apple icon"
        >
        <img
          width="40"
          height="21"
          src="{{ 'klarna.svg' | asset_url }}"
          alt="hipercard icon"
        >
      </div>
      <!-- End Payment img footer -->
    </div>
    <!-- End Upper -->
  </div>
</footer>
<!-- End footer -->

{% schema %}
{
  "name": "Footer",
  "class": "footer",
  "tag": "footer",
  "disabled_on": {
    "groups": ["header"],
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Footer Navigation"
    },
    {
      "type": "link_list",
      "id": "footer_navigation",
      "label": "Footer Navigation",
      "info": "This is the footer menu"
    }
  ],
  "blocks": [],
  "limit": 1,
  "presets": [
    {
      "name": "Footer",
      "settings": {},
      "blocks": []
    }
  ]
}
{% endschema %}
