{{ 'hero.css' | asset_url | stylesheet_tag }}

<section
  class="heroImage w-full h-[50vh] lg:{{ section.settings.hero_height }} flex justify-center items-center overflow-hidden relative"
>
  {%- if section.blocks.size > 0 -%}
    {%- for sliding in section.blocks -%}
      {%- case sliding.type -%}
        {%- when 'slide' -%}
          <a
            href="{{ sliding.settings.hero_url }}"
            class="hero-slide absolute inset-0 w-full h-full opacity-0 transform translate-x-full"
            style="transition: all {{ section.settings.animation_speed }}ms ease-in-out;"
          >
            {%- if sliding.settings.mobile_image_hero != blank -%}
              {{
                sliding.settings.mobile_image_hero
                | image_url: width: 800, height: 800
                | image_tag: loading: 'eager', class: 'lg:hidden w-full h-full object-center object-cover'
              }}
            {%- endif -%}
            {%- if sliding.settings.hero_image != blank -%}
              {{
                sliding.settings.hero_image
                | image_url: width: 2000, height: 740
                | image_tag: loading: 'eager', class: 'hidden lg:block w-full h-full object-center object-cover'
              }}
            {% else %}
              {{ 'lifestyle-2' | placeholder_svg_tag: 'w-full h-full object-center object-cover' }}
            {%- endif -%}
          </a>
      {%- endcase -%}
    {%- endfor -%}
  {%- else -%}
    {%- for item in (1..3) -%}
      <a
        href="/"
        class="hero-slide absolute inset-0 w-full h-full opacity-1 transform translate-x-full"
        style="transition: all {{ section.settings.animation_speed }}ms ease-in-out;"
      >
        {{ 'lifestyle-2' | placeholder_svg_tag: 'w-full h-full object-center object-cover' }}
      </a>
    {%- endfor -%}
  {%- endif -%}

  <!-- Navigation Dots -->
  <div class="slider-dots absolute bottom-4 left-1/2 -translate-x-1/2 flex gap-2 z-10">
    <button class="w-3 h-3 rounded-full bg-white bg-opacity-100 slider-dot" data-index="0"></button>
    <button class="w-3 h-3 rounded-full bg-white bg-opacity-50 slider-dot" data-index="1"></button>
    <button class="w-3 h-3 rounded-full bg-white  bg-opacity-50 slider-dot" data-index="2"></button>
  </div>
</section>

{% schema %}
{
  "name": "Hero",
  "class": "hero",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"],
    "templates": ["article", "collection", "product"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Background height"
    },
    {
      "type": "select",
      "id": "hero_height",
      "label": "Hero height",
      "options": [
        { "label": "Small", "value": "h-[50vh]" },
        { "label": "Medium", "value": "h-[70vh]" },
        { "label": "Full", "value": "h-[100vh]" }
      ],
      "default": "h-[70vh]"
    },
    {
      "type": "range",
      "id": "animation_speed",
      "label": "Animation speed (ms)",
      "min": 300,
      "max": 3000,
      "step": 100,
      "unit": "ms",
      "default": 1000
    }
  ],
  "blocks": [
    {
      "name": "Slide",
      "type": "slide",
      "limit": 3,
      "settings": [
        {
          "type": "header",
          "content": "Desktop Slide image"
        },
        {
          "type": "image_picker",
          "id": "hero_image",
          "label": "Add a sliding image for the desktop"
        },
        {
          "type": "url",
          "id": "hero_url",
          "label": "Add your link"
        },
        {
          "type": "header",
          "content": "Mobile Slide image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image_hero",
          "label": "Sliding image hero"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero",
      "settings": { "hero_height": "h-[70vh]" },
      "blocks": [{ "type": "slide" }]
    }
  ]
}
{% endschema %}
